.hero {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(/src/images/heroMobile.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin-bottom: 16px;
}

.hero_content {
  width: 356px;
  height: 205px;
  text-align: center;
  color: white;
}

.hero h1 {
  animation: fade-in-from-top 1s;
}

.header {
  font-family: "Lato", sans-serif;
  font-size: 24px;
  color: #bfa8bb;
  text-shadow: 2px 2px 4px #000000;
  position: absolute;
  text-align: center;
  top: 8px;
  left: 16px;
  width: 138px;
}

@keyframes fade-in-from-top {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
