@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Display:wght@300;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,900&display=swap");

/*RESET*/

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

a {
  text-decoration: none;
  color: black;
}

.App {
  font-family: "Noto Sans Display", sans-serif;
  font-smooth: always;
  -webkit-font-smoothing: antialiased;

  height: 100vh;
}
